<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
-------------------------------------------------------------------------------------------------
■■■ファイル名：participation_status.html■■■
参加者ごとに日程の参加可否状況をまとめたListを出力する場合
概要：HTML
詳細：HTML文書（参加状況確認画面）を出力する。
-------------------------------------------------------------------------------------------------
-->

<head>
  <title>参加可否一覧画面</title>
  	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>
<body th:object="${participationStatusAllForm}">

<main>
	<div class="container">
	<div class="form-class">
		<div class="title-class">
 			<h1>参加可否一覧画面</h1>
 		</div>

<!-- <table class="table table-striped" >
		<tr>
			<th>参加者</th>
			<th th:each="participationStatus , stat: *{participationStatusAllList}">
				<span th:text="${participationStatus.schedule_date}"></span>
			</th>
			<th >
				<span th:text="*{participationStatusAllList[0].schedule_date}"></span>
			</th>
		</tr>
	</table> -->
	<!--表題を出力  -->
	<table class="table table-striped" >
		<tr>
			<th>参加者　　　</th>
			<th th:each="participationStatus: *{participationStatusAllList}">
				<span th:text="${participationStatus.schedule_date}"></span>
			</th>

		</tr>
	</table>


	<div  style="display:flex!important; ">
		<!-- 名前を出力 -->
		<table class="table table-striped" >
			<tr th:each="name : *{participationStatusAllList[0].participationList}">
				<td th:text="${name}"></td>

			</tr>
		</table>



		<!-- 日ごとの参加可否を出力 -->
		<div th:each="participationStatus: *{participationStatusAllList}">
			<div >
				<ul class="list-group" th:each="status : ${participationStatus.participationStatusList}">
					<li style="color:blue;" class="list-group-item" th:text="${status}">
					</li>

				</ul>
			</div>
		</div>
	</div>

	<div>
	 <a class="btn btn-secondary  mt-3"  th:href="@{/login_menu}">ログインメニュー画面へ</a>
	</div>

</div>
</div>
</main>

  <script type="text/javascript" src="js/login-check.js"></script>
</body>
</html>
